<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Tools</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'spam/css/Style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        section {
            background-image: url("{% static 'spam/images/bg.avif' %}");
        }
    </style>
</head>
<body>
    <section>
        <!-- Header part start-->
        <header>
            <nav>
                <div><a href="#" class="brand">SPD</a></div>
                <ul>
                    <li><a href="web app" class="active">WEB APP</a></li>
                    <li><a href="mail.html" class="active">EMAILS</a></li>
                    <li><a href="#" class="active"><i class="fa-solid fa-envelope" style="color: #fff;"></i></a></li>
                    <li><a href="#" class="active"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </header>
        <!-- Header part end-->
        
        <!-- Main content part start-->
        <div class="fluid-container content">
            <div class="row m-auto">
                <!-- Text section start-->
                <div class="col-md-6 p-5 m-auto typo-content">
                    <h1>Welcome to SPD</h1>
                    <h5>[Spam message detection]</h5>
                    <p>This is an app where you can check spam messages.</p>
                    <p>Enter any message, select an algorithm, and click the "Check" button to see if the message is spam or not.</p>
                    <p>After processing, you will see the result.</p>
                </div>
                <!-- Text section end-->

                <!-- Form section start-->
                <div class="col-md-6 p-5 m-auto form-content">
                    <form class="main-form" action="check"  method="post">
                        {% csrf_token %}
                        <textarea name="rawData" id="rawdata" placeholder="Enter your text here...."></textarea>
                        <div class="algo-choice">
                            <label class="radiocontainer">
                                Algo-1 
                                <input type="radio" name="algo" value="Algo-1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radiocontainer">
                                Algo-2
                                <input type="radio" name="algo" value="Algo-2">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radiocontainer">
                                Algo-3 
                                <input type="radio" name="algo" value="Algo-3">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check-holder">
                            <button class="check-btn" type="submit">Check</button>
                        </div>
                    </form>
                </div>
                <!-- Form section end-->
            </div>
            <div class="footer">Copyright &copy; Developed by <b>Monika</b></div>
        </div>
        <!-- Main content part end-->
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{% static 'spam/js/Main.js' %}"></script>
</body>
</html>
